{% load static %}

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="search">Search for Patient ID:</label>
                    <input type="text" name="search" id="search" class="form-control">

                </div>
                <div class="form-group">
                    <label for="note_doctor">Doctor's Notes:</label>
                    {{ form.note }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                <div class="card mt-5">
                  <div class="card-header">ID : {{ Members.id }}</div>

                    <div class="card-header">Name :{{ Members.name }}</div>
                    <div class="card-header">Age : {{ Members.age }}</div>
                    <div class="card-header">Gender: {{ Members.gender }}</div>
                    <div class="card-header">predictions: {{ Members.predictions }}</div>
                    <img src="{{ Members.image.url }}"style="block-size:224px;" alt=""/>

                    <div class="card-body">
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}