<h1>Register</h1>

<form method="POST" action="">
   {% csrf_token %}
   {% comment %} {{form.as_p}} {% endcomment %}

   {{form.username.label}}
   {{form.username}} <br>
 
  
{{form.email.label}}
 {{form.email}} <br>
 <!-- 
     {{form.phone_number.label}}
    {{form.phone_number}} <br>

    {{form.specialization.label}}
    {{form.specialization}} <br>

     {{form.state_medical_council.label}}
    {{form.state_medical_council}} <br>


    {{form.registration_number.label}}
    {{form.registration_number}} <br>

     {{form.password2.label}}
    {{form.password2}} <br>


     {{form.workplace.label}}
    {{form.workplace}} <br>

     {{form.email.label}}
    {{form.email}} <br> -->


     {{form.password1.label}}
    {{form.password1}} <br>

     {{form.password2.label}}
    {{form.password2}} <br>

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <div class="g-recaptcha" data-sitekey="6Ldq_9AZAAAAANXoYHNla9SJosforXZyX8wr3wj5"></div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <br>

 {{form.errors}} 
  <br>

  <a href="{% url 'userlogin'%}">Login  </a>
</form>